.row.bottom-margined
  .col-md-8
    %h2.tournament-header
      %i.icon-trophy
      = @tournament.title
  .col-md-4
    = render 'buttons', tournament: @tournament

.row.bottom-margined
  .col-md-3
    = image_tag @tournament.poster.url, class: 'img-thumbnail'

  .col-md-6
    %p
      %small
        = markdown( @tournament.description )

  .col-md-3
    = render 'panel_information', tournament: @tournament

.row
  .col-md-6
    %h3
      = t( 'mongoid.models.subscription' ).pluralize.capitalize

    %table.table.table-condensed.table-striped.table-hover.vertical-aligned
      %tbody
        = render partial: 'subscription', collection: @tournament.subscriptions
  - if subscription = current_user.subscription_to( @tournament )
    .col-md-6.army-container
      %h4
        Your Army
        %small.pull-right.top-padded
          = "#{t( 'mongoid.attributes.army.last_update' ).capitalize}:"
          = I18n.l subscription.army.updated_at, format: :short
      = form_for subscription.army, html: { class: 'form-horizontal hide army-form', role: 'form' } do |form|
        .form-group
          = form.text_area :list, class: 'form-control', placeholder: t( 'mongoid.attributes.army.list' ).capitalize, rows: 10
        .form-group
          = form.button type: :submit, class: 'btn btn-small btn-primary' do
            %i.icon-upload
            = t( 'actions.save' )
          = link_to '#', class: 'btn btn-default army-cancel' do
            %i.icon-remove
            = t( 'actions.cancel' )
      .army-list-container
        .army-list
          = markdown( subscription.army.list )
        = link_to '#', class: 'btn btn-primary army-edit' do
          %i.icon-pencil
          = t( 'actions.edit' )
